*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
    
    
}
.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:rgba(23, 211, 148, 0.929);
    padding:50px ;
    
    border: 4px solid transparent;
    border-image: linear-gradient(45deg,rgb(242, 157, 10),rgb(165, 10, 208));
    border-image-slice: 1;
    border-radius: 20px;
}
.app-title{
    display: flex;
    justify-content: flex-end;
    padding:20px;
}

.price {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
}
  
.price span {
    font-weight: 500;
    font-size: 0.5em;
}
#requests{
    display: flex;
    align-items: center;
    justify-content: center;
}
.range-map{
    text-align: center;
    justify-content: center;
    width: 300px;
}
.range-slider{
    width:100%;
    margin:20px 0;
    height:8px;
    background: #ddd;
    outline: none;
    border-radius: 5px;
    margin-left: 150px;
    margin-right: 150px;
}
.range-values{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    width: 100%;
    margin-left: 150px;
    margin-right: 150px;
}
.range-values span{
    font-weight: bold;
    font-size: 14px;
}
.header h2{
    padding-bottom: 15px;
}
.btn{
    padding:25px;
    display: grid;
    place-items: center;
    height:100%;
}
#btn-area{
    padding:10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: #4CAF50;
    background-color: #fff;
    cursor: pointer;
    border:none;

}
#btn-area:hover{
    background-color: #4CAF50;
    color:#fff;
}
